{
    "AnalyseTrendFunction": {
        "ALLOWED_ORIGIN": "",

        "AUTH0_DOMAIN": "",
        "AUTH0_CLIENT_ID": "",
        "AUTH0_CLIENT_SECRET": ""
    },
    "AnalyseTrendNewChatFunction": {
        "REDDIT_CLIENT_ID": "",
        "REDDIT_CLIENT_SECRET": "",

        "OPENAI_API_KEY": "",

        "AUTH0_DOMAIN": "",
        "AUTH0_CLIENT_ID": "",
        "AUTH0_CLIENT_SECRET": ""
    }
}