@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

option {
  color: black;
}

.markdown p:not(:last-of-type) {
  margin-bottom: 0.75rem !important;
}

.markdown ol {
  padding-left: 1.25rem !important;
}

.markdown ol li {
  margin-bottom: 0.5rem !important;
}

.default-styling > * {
  margin-top: 0.5rem;
  font-size: 18px;
  line-height: 1.7;
}

.default-styling h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
}

.default-styling ul {
  padding-left: 1.5rem;
}

#nprogress .bar {
  height: 4px;
  background: var(--nprogress-color) !important;
}